
.container-wrapper{
       display: flex;
       justify-content: space-between;
       align-items: center; 
}
  .header{
    width: 100%;

     &__list{
       display: flex;
       justify-content: space-between;
       list-style-type: none;
     }

     &__item +  &__item {
       padding-left: 40px;
     }
     &__item{
       padding: 50px 0px;
      
     }

     &__link{
       text-decoration: none;
       color: #333136;
       font-family: Jost;

       &:hover{
        //  color: rgb(116, 108, 108);
         border-bottom: 2px solid rgb(141, 138, 138) ;
       }

      

     }
     .header__humburger-menu
     {
       border: none;
       background: transparent;
       display: none;
       align-items: center;
     }
    
     .exit
     {
       display: none;
     }
     

  }

  @media screen and (max-width:1111px){
    .container {
      width: 100%;
      max-width: 1111px;
      padding-left: 20px;
      padding-right: 20px;
   }
  }

  @media screen and (max-width: 640px){
  
   
    .header
    {
      .container-wrapper
      {
        height: 100px;
       

      }
      &__list 
      {
        // display: none;
        width: 100%;
        position: absolute;
        left: 0;
        display: none;
        flex-direction: column;
        background: #FFAD9B;
        opacity: 0.5s;
        z-index: 11;
        margin-top: 90%;
        padding-left: 20px;
        padding-right: 20px;
        
       
      }
      &__item 
      {
        padding: 0px;
        margin-left: -17px;
        margin-top: 48px;
        margin-bottom: 48px;

      }
      &__item + &__item 
      {
        padding: 0px 0px;
      }
      &__link 
      {
        color: #fff;
        font-size: 24px;
      }
      
      .header__humburger-menu
      {
        display: block;
        align-items: center;
      }

      
        

      .header--active &__list 
      {
        display: block;
      }

     


     
     
    }
  }


  
